################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/.vs/Liberating-Riraellu/v16
/bin/CMakeFiles
/bin
/.vs
